@charset 'utf-8';
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
ul li{list-style:none;list-style-type:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:normal}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle; outline:none;}
/* END reset css */

.cl{ clear:both;}
.clear_fix{ float:none; clear:both; padding:0px; margin:0px; height:0px; width:0px;}
a{color:#333;text-decoration:none;}
a:hover{color: #d72120;}
.sao{ color:Red; font-family:Verdana Arial;}
body{padding:0px;margin:0px; background-color:#fff;}
#contain{font-size:12px;font-family:Arial;color:#000; margin:auto; padding:0; width:1000px;}

div.error{ text-align:center; padding-top:30px; line-height:150%;}
.menu{ background-color:#0C3;}
ul.head{ height:77px; overflow:hidden;}
ul.head li{  color:#fff;}
ul.head li.l{ width:252px; float:left; overflow:hidden; padding-top:8px; padding-right:20px;}
ul.head li.c{ width:326px; float:left; overflow:hidden; border:1px #dfdfdf solid; padding:5px 10px; margin-top:8px; background:#f1f0f2 url(/images/bg/bgs2.gif) no-repeat 10px 5px;}
ul.head li.c .txt{ width:280px; margin:2px 0 0 5px; border:none; outline:none;}
ul.head li.c .img{ width:32px; height:32px; vertical-align:middle;}
ul.head li.c small{ display:block; color:#333; padding-top:5px; text-align:right;}
ul.head li.c small b{ color:#d72022;}
ul.head li.r{ width:400px; overflow:hidden; float:right; text-align:right; padding-top:14px;}
ul.head li.r .img,div.poplog .img{ float:right;}
ul.head li.r input.txt,div.poplog input.txt{ display:block; float:right; border:1px #d3d3d3 solid; color:#9c9c9c; padding:0 5px; margin:0 2px 6px 10px; height:21px;}
ul.head li.r div.t{ color:#9cce5f; font-weight:bold; padding-top:35px;}
ul.head li.r span{ padding:0 5px; color:#9cce5f;}

ul.head li.ms{ width:326px; float:left; overflow:hidden; line-height:150%; text-align:center;}
ul.head li.ms div{ padding:10px 0px;font-size:13px; font-weight:bold; color:Red;}
ul.head li.ms div a{ display:inline-block; background:#2A6F6C; padding:5px 10px; color:White; border-radius:3px; margin-top:10px;}
ul.head li.ms div a:hover{ background:red;}

ul.head li.r ul.user_info{ float:right; background:#f5f5f5; border:1px #dfdfdf solid; padding:5px 10px; margin-top:-5px;}
ul.head li.r ul.user_info li{ text-align:left; font-size:11px; color:#333;}
ul.head li.r ul.user_info li.t{ border-bottom:1px #dfdfdf solid; padding-bottom:5px;}
ul.head li.r ul.user_info li.t b{ padding-right:30px;}
ul.head li.r ul.user_info li.t a{ float:right; color:#5fa415; font-weight:bold; background:url(/images/icon/h1.png) no-repeat 0px 1px; padding-left:15px;}
ul.head li.r ul.user_info li.t a:hover{ color:Black;}
ul.head li.r ul.user_info li.d{ border-top:1px #fff solid;}
ul.head li.r ul.user_info li.d a{padding-top:5px;}

div.dk{ background:url(/images/icon/dk.gif) no-repeat 30px 0px;}
div.dk a{ display:block; padding:10px 10px; background-color:#d93033; color:White; width:160px; margin:10px 0 0px 85px; text-align:center; font-weight:bold; font-family:Arial; font-size:12px; text-transform:uppercase;}
div.dk a:hover{ background:#65aa1b;}
div.dk strong.t{ font-size:22px; font-weight:normal; font-family:Arial; border-bottom:1px #dfdfdf solid; display:block; padding-bottom:5px; color:#7e9e1f;}

ul.menu li{ float:left; height:45px; line-height:45px; background-color:#93b827; white-space:nowrap;}
ul.menu li a{ display:block; padding:0 7px; color:White; text-transform:uppercase; font-weight:bold; white-space:nowrap;}
ul.menu li:hover{background-color:#93b827;}
ul.menu li:hover a,ul.menu li a.ac{ color:#d72022;}
ul.menu li a.ac{ background:#aae071 url(../images/gach.gif) no-repeat left top;}
ul.menu li.home img{ padding:5px 5px 5px 0; vertical-align:middle;}
ul.menu li.n{ position:relative;}
ul.menu li.n span{ position:absolute; top:0px; right:0px;}
ul.menu li.home{ width:130px;}

ul.menu2 li{ float:left; height:45px; line-height:45px; background:url(../images/gach2.gif) no-repeat left top; white-space:nowrap;}
ul.menu2 li a{ display:block; padding:0 7px; color:White; white-space:nowrap; text-transform:uppercase; font-weight:bold;}
ul.menu2 li:hover{ background:#4e8580 url(../images/gach2.gif) no-repeat left top;}
ul.menu2 li a.ac{ color:#fff;}
ul.menu2 li a.ac{ background:#4e8580 url(../images/gach2.gif) no-repeat left top;}
ul.menu2 li.home img{ padding:8px 5px 10px 0; vertical-align:middle;}
ul.menu2 li.n{ position:relative;}
ul.menu2 li.n span{ position:absolute; top:0px; right:0px;}

div.live_chat{ width:174px; height:35px; float:right; margin-top:5px;}
#all ul{position:absolute;padding:0 10px 10px 10px; text-align:left; float:right; z-index:98; border:1px #dfdfdf solid;box-shadow:1px 2px 4px 2px #dfdfdf; border-top:none; background-color:White; width:152px;}
#all ul li{ padding-top:15px;}
#all ul li a{ color:#666;}
#all ul li a:hover{ text-decoration:underline;}
#all ul li img{ vertical-align:middle; padding-right:10px; width:16px;} 
/*=========================Home=======================*/
div.count{ height:38px; border:1px #ddd solid; border-left:3px #d44137 solid; background-color:#f5f5f5; line-height:38px; padding:0 10px; font-size:14px; color:#333;}  
div.count strong b{ color:#d20001;}

div.bgs{ width:100%; height:77px; overflow:hidden; background:url(../images/bgs.gif) no-repeat; margin:10px 0 15px 0;}
div.bgs ul.s{ height:36px; overflow:hidden; position:relative;}
div.bgs ul.s li{position:absolute; top:-15px; right:0;}
div.bgs ul li.s1{ float:left; width:382px;}
div.bgs ul li.s1 input{ width:360px; margin:7px 0 0 10px; border:none; color:#828282;}
div.bgs ul li.s2{ float:left; width:176px;}
div.bgs ul li.s2 select{ width:160px; margin:8px 0 0 10px; border:none; color:#828282;}
div.bgs ul li.s3{ float:left; width:155px;}
div.bgs ul li.s3 select{ width:140px; margin:8px 0 0 10px; border:none; color:#828282;}
div.bgs ul li.s4{ float:left; width:155px;}
div.bgs ul li.s4 select{ width:140px; margin:8px 0 0 10px; border:none; color:#828282;}
div.bgs ul li.s5{ float:left; width:132px;}
div.bgs ul li.s5 input{ width:120px; height:35px; margin-left:5px;}

div.boxM{ height:210px; border:3px #ddd solid; margin-bottom:15px; overflow:hidden;}
div.boxM div.bg{ background-color:#fff; border:1px #fff solid; padding:10px;}
div.boxM div.bg div.t{ text-transform:uppercase; color:#76bc25; font-size:19px; font-weight:normal; padding-bottom:21px; padding-top:5px;}
div.boxM div.bg div.m{ float:left; width:210px; border-bottom:1px #cbcbcb dotted; margin-right:30px; height:30px; line-height:30px;}
div.boxM div.bg div.m a{font-weight:bold; display:block;}

div.bgt{ background:url(../images/bgf.gif) repeat-x bottom;}
div.bgt strong{ display:inline-block; border-bottom:5px #75be26 solid; height:30px; line-height:30px; font-size:18px; font-weight:normal; color:#75be26; text-transform:uppercase;}
div.bgt div{ float:right; line-height:30px;}
div.bgt div span{ color:#292929;}
div.bgt div b{ color:#d72022;}
div.bgt div span{ padding:0 5px;}
div.box_tg ul.hot li,div.box_tg ul.abc li{ width:170px; float:left; background:url(/images/icon/h1.gif) no-repeat 0 2px; padding:0px 3px 10px 10px;}
div.box_tg h3{color:#2a2a2a; display:block; padding:15px 0;}
div.box_tg h3 b{ color:#d52124;}
div.box_tg li a.b{ font-weight:bold;}
div.box_tg ul.group li.cl1{width:180px; float:left; padding-right:3px;}
div.box_tg ul.group li.cl1 big{ display:block; font-size:12px; background:url(/images/icon/h1.gif) no-repeat 0 2px; padding:0px 0 10px 10px; font-weight:bold;}
div.box_tg ul.group li.cl1 a{ display:block; padding-bottom:10px;}
div.box_tg ul.hot span,div.box_tg ul.abc span,div.box_tg ul.group span{ color:Red; font-weight:normal; padding-left:5px;}

div.list_tg{ float:left; width:300px; padding-top:20px; padding-right:30px; height:30px;}
div.list_tg strong{ display:block; height:14px; overflow:hidden;}
div.list_tg strong a{ display:block; padding:0 0 0px 10px; background:url(/images/icon/h2.gif) no-repeat 0 4px;}
div.list_tg strong img{ vertical-align:middle;}
div.list_tg p{ display:block; padding-top:5px; padding-left:10px;}

div.av2{ padding-bottom:15px; margin-top:20px;}
div.av2 img{ width:100%; height:auto;}

div.av3{ padding:15px 0; width:235px; height:60px; overflow:hidden; float:left; margin-right:15px;}
div.av3 img{ width:235px; height:auto;}

div.avr{ padding-top:10px;}

div.ctl{ width:735px; overflow:hidden; float:left;}
div.ctr{ width:255px; overflow:hidden; float:left; padding-left:10px;}

.mtop{ margin-top:15px;}
div.bgr{ background-color:#7dc234; width:100%; height:30px; line-height:30px;}
div.bgr strong{ display:inline-block; color:White; line-height:30px; text-transform:uppercase; font-size:15px; padding-left:10px;}
div.bgr2{ background-color:#7dc234; width:100%; height:30px; line-height:30px;}
div.bgr2 strong{ display:inline-block; color:White; line-height:30px; text-transform:uppercase; font-size:15px; padding-left:10px;}
#workn{ margin-bottom:20px;}
#loading{ text-align:center;}
#loading img{ width:50px;}
.overview span{ color:Red; font-weight:normal;}
/*==========================footter==================*/
div.nf{ background-color:#2a6f6c; padding:10px;}
div.nf a.img{ display:block; float:left; width:138px; height:105px; overflow:hidden;}
div.nf img{ max-width:128px; height:auto;}
div.nf p{ line-height:150%; color:White; padding-top:10px; height:70px; overflow:hidden; text-align:justify;}
div.nf strong a{ color:#f59524; font-size:15px;}
div.nf strong a:hover{ color:#fff;}

div.mnf{ background-color:#7dc234; height:37px; width:100%; text-align:center; line-height:37px;}
div.mnf span{ padding:0 5px;}
div.mnf a,div.mnf span{ color:White; font-weight:bold;}
div.mnf a:hover{ text-decoration:underline;}

div.mnf2{ background:url(../images/mnf2.gif) repeat-x; height:37px; width:100%; text-align:center; line-height:37px;}
div.mnf2 span{ padding:0 5px; color:#fff;}
div.mnf2 a,div.mnf span{ color:White; font-weight:bold;}
div.mnf2 a:hover{ text-decoration:underline;}

div.bgf{ background:url(../images/bgf.gif) repeat-x bottom; width:100%;}
div.bgf div.l{ width:70%; float:left; overflow:hidden; line-height:150%; padding-top:10px;}
div.bgf div.r{ width:30%; float:left; overflow:hidden; color:#333;padding-top:10px;}
div.bgf div.r h2,div.bgf div.r h4{ font-size:16px; font-weight:bold;}
div.bgf div.r div.acs img{padding:5px 5px 5px 0;}
div.bgf div.r div.app{ padding-top:5px;}
div.bgf div.r div.app img{ padding-right:5px;}
div.lk{ padding:6px 0 22px 0; line-height:150%; color:#75bf24;}
div.lk a{color:#75bf24;}

ul.ftop{ width:100%; height:50px; vertical-align:middle;}
div.fb-like{ margin-top:15px;}
div.g-plusone{ width:100px; overflow:hidden;}
ul.ftop li{ float:left;}
div.gcong{ width:70px; overflow:hidden; display:inline-block;}
ul.ftop li.l{ width:570px; overflow:hidden; height:50px;}
ul.ftop li.c{ line-height:50px;}
ul.ftop li.c a{ padding-right:10px; color:#2a2a2a; font-weight:bold; text-transform:uppercase;}
ul.ftop li.c a:hover{ text-decoration:underline;}
ul.ftop li.c img{ vertical-align:middle; padding-right:3px;}
ul.ftop li.r{ float:right; text-align:right; width:99px; height:26px; padding-top:12px;}

div.hotl{ height:42px; background:#e5fec5 url(/images/bg/hotl.gif) no-repeat 10px 10px; border:1px #dddddd solid; line-height:42px; padding:0 10px 0 45px; font-size:20px; color:#333;}
ul.fm{ margin:15px 0;}
ul.fm li{ float:left; width:293px; height:110px; border:1px #ddd solid; background-color:#f5f5f5; padding:10px; color:#333; font-weight:bold;}
ul.fm li strong{ font-size:19px; color:#7dc234; font-weight:normal; display:block; padding-bottom:20px;}
ul.fm li span{ line-height:150%;}
ul.fm li img{ padding-right:10px; float:left;}
ul.fm li a{ display:block; font-size:15px; font-weight:bold; color:#333; padding-top:10px; padding-left:59px;}
ul.fm li a:hover{ color:#f69524;}
ul.fm li.l{ margin-right:27px;}
ul.fm li.c{ margin-right:28px;}
ul.fm li.cl{ width:0px; float:none; height:0px; padding:0px; margin:0px; border:none;}
/*===============================Regiter==============================*/
div.rgt{ border-bottom:1px #5c961e solid; font-size:20px; padding:0 0 10px 0; color:#333;}
div.rgt2{ border-bottom:1px #155b53 solid; font-size:20px; padding:0 0 10px 0; color:#333;}
div.rgi{ padding:15px 0; line-height:150%;}
div.rggt{ width:100%; height:30px; line-height:30px; background-color:#93b827; border:1px #93b827 solid; border-left:none; border-right:none;}
div.rggt b{ color:#d4201f; padding-left:10px; font-size:13px;}

div.rggt2{ width:100%; height:30px; line-height:30px; background-color:#93b827; border:1px #93b827 solid; border-left:none; border-right:none;}
div.rggt2 b{ color:#fff; padding-left:10px; font-size:13px;}

div.rgl{width:180px; float:left; overflow:hidden; font-weight:bold; line-height:20px; padding-left:10px; margin-top:10px; color:#29330b;}
div.rgr{float:left; margin-top:10px;}
div.rgr div.ifo,div.rgl div.ifo{ font-size:11px; font-style:italic; padding-top:5px; font-weight:normal;}
div.rgr .textbox {
    color:#333; font-size:12px;
    width: 250px; padding:5px 5px;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #bbb inset;
    box-shadow: 0 2px 4px #bbb inset;
}

.textbox:focus {
    outline: 0;
}
div.list_city
{
    color:#333; font-size:12px; font-weight:bold;
    border: 1px solid #ccc; height:195px; overflow-y:auto; width:263px;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #bbb inset;
    box-shadow: 0 2px 4px #bbb inset;    
    }
div.list_city td{ padding:5px 0px 0px 5px;}    
div.rgr a{ color:#d72022;}
div.rgr a:hover{ text-decoration:underline;}
div.rgr a img{ vertical-align:middle;}
.ktloi{ color:Red; font-size:11px; background:url(/images/icon/warning.jpg) no-repeat 0 4px; padding:3px 0 3px 15px;}
.eok{ color:#008000; font-size:11px; background:url(/images/icon/ok.jpg) no-repeat 0 3px; padding:3px 0 3px 15px;}
div.tt{ border:1px #dfdfdf solid; padding:10px; margin:10px auto 10px auto; height:155px; overflow-y:auto; color:#333; line-height:150%;}
div.bt{ padding:10px 0 15px 0;}
div.bt input{ background:#60a516; color:White; padding:5px 15px; font-weight:bold; border:none; font-family:Arial; cursor:pointer;}
div.bt input:hover{background:#d72120;}
div.invalid{ padding-top:10px;}
span.valerror[style*="inline"]{display:block !Important;background:url(/images/icon/warning.jpg) no-repeat 0 4px; padding:3px 0 3px 15px;}
span.err_ms{display:block !Important;background:url(/images/icon/warning.jpg) no-repeat 0 4px; padding:3px 0 3px 15px; font-size:11px; color:Red;}
div.ms{ text-align:center; line-height:150%; border:1px #dfdfdf solid; background:#d4f3b2; padding:30px 15px;}
div.ms a{ color:#d72120; font-weight:bold;}
div.ms a:hover{ text-decoration:underline;}
/*==============================================Begin Pages======================================*/
#lblPage{ display:block;text-align:center;padding-top:10px;height:24px;font-weight:normal; float:right;}
A.apage:link{color:#333;text-decoration:none;border:0px solid #cccccc;padding:0px 5px;vertical-align:middle;font-weight:normal;}
A.apage:visited{color: #333;text-decoration:none;border:0px solid #cccccc;padding:0px 5px;vertical-align: middle;font-weight:normal;}
A.apage:hover {color:red;text-decoration:none;border:0px solid red;padding:0px 5px;vertical-align:middle;font-weight:normal;}
.cpage{color:red;text-decoration:none;border:0px solid #cccccc;padding:0px 5px;vertical-align:middle;font-weight:bold;}
/*==============================================End Pages======================================*/
ul.box_admin{ clear:both; height:30px; background-color:#aae071; overflow:hidden; padding-left:10px; border-bottom:1px #5fa415 normal;}
ul.box_admin li{ float:left; line-height:30px;}
ul.box_admin li a{ display:block;}
ul.box_admin li span{ padding:0 10px; color:#5fa415;}
ul.box_admin li a.ac{ color:#d72120}

ul.box_admin2{ clear:both; height:30px; background-color:#4e8580; overflow:hidden; padding-left:10px; border-bottom:1px #5fa415 normal;}
ul.box_admin2 li{ float:left; line-height:30px;}
ul.box_admin2 li a{ display:block; color:#fff;}
ul.box_admin2 li span{ padding:0 10px; color:#fff;}
ul.box_admin2 li a.ac{ color:#fff; font-weight:bold;}

div.poplog{ padding-right:50px; padding-top:10px;}
div.poplog2 { clear:both; padding-left:58px; font-size:11px; color:#000; padding-top:5px;}
div.poplog2 div{ padding-top:5px;}
div.poplog2 a{ color:Blue;}
div.poplog2 a:hover{ text-decoration:underline;}

ul.list_ntd li{ float:left; font-size:12px;}
ul.list_ntd li.l{ width:150px; font-weight:bold; padding-bottom:15px;}
ul.list_ntd li.r{ width:650px; padding-bottom:15px; line-height:150%;}
ul.list_ntd li.cl{ float:none; padding:0px; margin:0px;}
/*=========================Quản lý tin tuyển dụng=========================*/
div.qlt_tit{ background:url(/images/bg/qlt1.gif) repeat-x; height:29px;}
div.qlt_list div{ float:left; padding:10px 0;}
div.qlt_list div.cl{ float:none; padding:0px; margin:0px;}
div.qlt_list{ width:100%; }
div.qlt_tit div{ float:left; line-height:29px; font-weight:bold;}
div.qlt1,div.qlt4,div.qlt5,div.qlt6,div.qlt7,div.qlt8{ width:90px; text-align:center;}
div.qlt2{ width:211px; padding-right:5px;}
div.qlt2 p{ display:block; padding:5px 0; font-size:11px;}
div.qlt2 a{ color:#6e6e6e; font-size:11px;}
div.qlt2 a:hover,div.qlt9 a:hover{ color:#d72120; text-decoration:underline;}
div.qlt2 i{ color:#a5a4a4;}
div.qlt3{ width:90px;}
div.qlt9 a{ color:#5b960d;}
div.qlt9{ padding-left:5px; text-align:center; width:130px;}
/*==========================Right==========================*/
.sr{padding:5px; width:230px; background:#fff; margin:auto; border-top:5px #f5f5f5 solid;}
.sr div.l{ width:85px; float:left; overflow:hidden; padding:10px 0; font-weight:bold;}
.sr div.l input.isr{ padding-right:5px;}
.sr div.r select { font-size:11px; padding:3px 5px;}
.sr div.r{ width:145px; float:left; overflow:hidden; padding:10px 0;}
.vipr{ border:1px #e1e1e1 solid; border-top:none; background-color:#f5f5f5; padding:0 0 5px 0;}
.vipr li.tdvip{ height:41px; border-bottom:1px #ccc dotted; overflow:hidden; padding:5px;}
.vipr li.tdvip div.img{ width:80px; float:left; height:40px; overflow:hidden; border:1px #ccc solid; margin-right:10px;}
.vipr li.tdvip div.img img{ width:80px; height:40px;}
.vipr li.tdvip p{ display:block; padding-top:5px;}
.vipr li.tdvip p a{ font-size:11px;}
.vipr li.tdvip:last-child{ border-bottom:none;}

.tdpt{ padding:10px;}
.tdpt a.t{ display:block; background:url(/images/icon/h2.gif) no-repeat 0px 4px; padding:0px 0px 5px 10px;}
.tdpt p{ padding-left:10px;}

.vipr li.xt{ padding:10px 10px 5px 0;}
a.xemthem{ float:right; padding-right:13px; background:url(/images/icon/r1.gif) no-repeat right;}

.vipr li.search{ padding:0 10px 10px 10px;}
.vipr li.search a{ display:block;background:url(/images/icon/h2.gif) no-repeat 0px 15px; padding:10px 0 0 12px;}

.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background:#fff url(../images/a12.png) no-repeat;
    overflow: hidden;
}

.jssora12l {
    background-position: -16px -49px;
}

.jssora12r {
    background-position: -85px -49px;
}

.jssora12l:hover {
    background-position: -136px -49px;
}

.jssora12r:hover {
    background-position: -205px -49px;
}

.jssora12ldn {
    background-position: -256px -49px;
}

.jssora12rdn {
    background-position: -325px -49px;
}

div.list_newr{ border-bottom:1px #e1e1e1 dotted; padding:5px; height:80px; overflow:hidden;}
div.list_newr a.img{ width:97px; height:70px; overflow:hidden; float:left; padding-right:10px;}
div.list_newr a.img img{ width:97px; height:auto;}
div.list_newr p{ display:block; padding-top:5px; height:40px; overflow:hidden; font-size:11px; line-height:120%;}

div.box_ct_ntd{ color:#333;}
div.box_ct_ntd div.tieu_de h1{ width:50%; float:left; border-left:3px #d10100 solid; font-size:22px; padding-left:10px; color:#333;}
div.box_ct_ntd div.tieu_de a{ float:right;}
div.box_ct_ntd ul.ngay{ clear:both; padding:20px 0;}
div.box_ct_ntd ul.ngay li{ float:left; width:33%;}

table.tb_ct tr td.pd{ padding:10px;}
table.tb_ct tr td.lh{ line-height:180%;}
table.tb_ct tr{ border-bottom:1px #ebebeb solid; color:#333;}
table.tb_ct tr td.col1{vertical-align:middle; border-right:1px #ebebeb solid; padding:0 10px; font-weight:bold;}
table.tb_ct tr td.col1 div{ padding:10px 0;}
div.box_ct_ntd td.col2{width:530px; vertical-align:middle; float:left; padding:0 10px;}
div.box_ct_ntd td.col2 table tr{ border:none;}
div.box_ct_ntd td.col2 table tr td.l{ width:230px; padding:10px 0; vertical-align:middle;}
div.box_ct_ntd td.col2 table tr td.c{ width:130px; font-weight:bold; border-right:1px #ebebeb solid; padding:10px 0;}
div.box_ct_ntd td.col2 table tr td.r{ padding:10px;}

.red{ color:#d10100;}
div.chuc_nang{ padding:15px 0;}
div.chuc_nang a{ padding-right:20px;}
div.chuc_nang a.r{ display:block; float:right; padding-right:0px;}
div.chuc_nang a.r b{ color:#d10100;}
div.chuc_nang img{ vertical-align:middle; padding-right:5px;}
div.chia_se{ padding:20px 0 20px 0;}
div.chia_se strong{ display:block;}
div.chuc_nang a.cpage{ padding-right:5px;}

div.box_list_tren{ background:url(/images/bg/qlt2.gif) repeat-x;  width:100%; height:44px; overflow:hidden; margin-bottom:15px;}
div.box_list_tren div{ line-height:44px; text-align:center; font-weight:bold;}
div.box_list_tren div.col1{ width:50px;float:left; padding-top:15px;}
div.box_list_tren div.col2{ width:320px;float:left; padding:0px 20px 0px 0;}
div.box_list_tren div.col3{ float:left; width:92px;}
div.box_list_tren div.col4{ float:left; width:82px;}
div.box_list_tren div.col5{ float:left; width:62px;}

div.box_list_duoi{text-align:center; border-bottom:1px #ebebeb solid; color:#555555;}
div.box_list_duoi div.col1{ width:50px;float:left;}
div.box_list_duoi div.col2{ width:320px;float:left; padding:0px 20px 0px 0;text-align:left;}
div.box_list_duoi div.col2 p{ display:block; padding:5px 0; color:#959595;}
div.box_list_duoi div.col2 i{ display:block; padding-bottom:10px;}
div.box_list_duoi div.col3 span{ display:block; padding-bottom:5px;}
div.box_list_duoi div.col3{ float:left; width:92px;}
div.box_list_duoi div.col4{ float:left; width:82px;}
div.box_list_duoi div.col5{ float:left; width:62px;}

table.box_list_ntv td{ vertical-align:middle; padding:10px 0;}
table.box_list_ntv tr.t{background:url(/images/bg/qlt2.gif) repeat-x;  width:100%; height:44px;}
table.box_list_ntv tr.d{ border-bottom:1px #dfdfdf solid;}
table.box_list_ntv tr.t td{ font-weight:bold;}
table.box_list_ntv tr td.col1{ width:50px; text-align:center;}
table.box_list_ntv tr td.col2{ width:115px;}
table.box_list_ntv tr td.col2 div{ font-size:11px; font-style:italic; color:#888888; padding-top:3px; line-height:130%;}
table.box_list_ntv tr td.col3{ width:260px; padding:0 20px;}
table.box_list_ntv tr td.col3 div{ color:#333; padding-top:5px;}
table.box_list_ntv tr td.col4{ width:80px;}
table.box_list_ntv tr td.col5{ width:80px; text-align:center;}
table.box_list_ntv tr td.col6{ width:80px; text-align:center;}
table.box_list_ntv tr td.col6 span{ display:block;padding-top:3px;}
table.box_list_ntv tr td.col7{ width:80px; text-align:center;}
div.blank{ float:none; padding:15px 0; text-align:center; color:Red; line-height:150%;}
/*===========================tin tức====================*/
h1.link a,strong.link a,ul.fqg li a.t{border-bottom:1px #5c961e solid; font-size:16px;color:#333; font-weight:bold; text-transform:uppercase; display:block; padding:7px 0;}

div.listN{ padding:20px 0 0 0; height:110px; overflow:hidden;}
div.listN img{ width:190px; height:auto; float:left; padding-right:10px;}
div.listN strong a{ font-size:15px; font-weight:bold; color:#333;}
div.listN strong a:hover{ color:#d72120;}
div.listN strong{ display:block; padding-bottom:10px;}
div.listN small{ display:block; padding-bottom:10px; color:#a0a0a0;}
div.listN p{ display:block; line-height:20px; color:#444444; height:80px; overflow:hidden;}

div.intro{border-bottom:0px #bebebe dotted; padding-bottom:20px; padding-top:10px; line-height:150%;}

div.newsD{ padding:10px 0 20px 0;}
div.newsD h1{ color:#23b700;font-size:20px; font-weight:normal;}
div.newsD p.ctn{ display:block; font-weight:bold; color:#444; padding:10px 0 0 0; line-height:150%;}
/*==========================nhà tuyển dụng=============================*/
ul.box_xem_nhieu{ padding:0 0 50px 0;}
ul.box_xem_nhieu li{ width:235px; float:left; padding-top:10px; margin-right:10px;}
ul.box_xem_nhieu li strong{ display:block; background:url(/images/icon/td1.gif) no-repeat 0px 5px; padding-left:12px;}
ul.box_xem_nhieu li p{ padding-left:12px; padding-top:5px; display:block;}
ul.box_xem_nhieu .img{ width:40px; height:40px; float:left; margin-right:8px;}

ul.ct_ntv_view{ padding:15px 0 15px 0;}
ul.ct_ntv_view li.l{ float:left; width:460px;}
ul.ct_ntv_view li.r{ float:right;}
ul.ct_ntv_view li.r span{ padding-left:30px;}

ul.tt_ca_nhan{ padding:15px 0;}
ul.tt_ca_nhan li.l{ width:182px; text-align:center; float:left;}
ul.tt_ca_nhan li.c{ width:120px; float:left; text-align:right; font-weight:bold;}
ul.tt_ca_nhan li.r{ padding-left:20px; float:left;}
ul.tt_ca_nhan li div{ padding:10px 0px;}
ul.tt_ca_nhan li img{ max-width:130px; height:auto; border:1px #a7dd6d solid;}

table.ttc{ padding:15px 0;}
table.ttc td div{ padding:10px 0;}
table.ttc td.l{width:190px; text-align:right; font-weight:bold; display:table-cell;}
table.ttc td.r{padding-left:20px; width:525px; display:table-cell;}
table.ttc td.r div.lh{ line-height:180%;}

#pel_HS_ung_vien table{ width:100%;}
#pel_HS_ung_vien table tr.t{ background-color:#5fa415; padding:10px 0; width:100%; font-weight:bold; color:White;}
#pel_HS_ung_vien table tr.d{ border-bottom:1px #ccc dotted;}
#pel_HS_ung_vien table td{ padding:10px 0; vertical-align:middle;}
#pel_HS_ung_vien table td.col1 div{ width:50px; text-align:center;}
#pel_HS_ung_vien table td.col2{ width:125px;}
#pel_HS_ung_vien table td div{ padding-top:3px;}
#pel_HS_ung_vien table td.col3{ width:130px; padding:0 10px;}
#pel_HS_ung_vien table td.col4,
#pel_HS_ung_vien table td.col5,
#pel_HS_ung_vien table td.col6,
#pel_HS_ung_vien table td.col7{ width:95px; text-align:center;}
#pel_HS_ung_vien table td.col8{ width:105px; text-align:center;}
#pel_HS_ung_vien table td.col9{ padding-left:10px; width:180px;}
#pel_HS_ung_vien table td.col9 span{ padding:0 5px;}
#pel_HS_ung_vien table td.col9 div{ border-bottom:1px #ccc dotted; padding:5px 0;}
#pel_HS_ung_vien table td.col9 a{ color:#5fa415;}
#pel_HS_ung_vien table td a:hover{ text-decoration:underline;}

#pel_tin_luu table{ width:100%; margin-top:10px; margin-bottom:20px;}
#pel_tin_luu table tr.t{background-color:#4d817c;width:100%; font-weight:bold; color:White;}
#pel_tin_luu table tr td{ padding:10px 0; line-height:130%; vertical-align:middle;}
#pel_tin_luu table tr td.col1 div{ width:50px; text-align:center;}
#pel_tin_luu table tr td.col2{ width:210px; padding-right:10px;}
#pel_tin_luu table tr td.col3{ width:190px; padding-right:10px; text-align:center;}
#pel_tin_luu table tr td.col4,
#pel_tin_luu table tr td.col5,
#pel_tin_luu table tr td.col6,
#pel_tin_luu table tr td.col7,
#pel_tin_luu table tr td.col8,
#pel_tin_luu table tr td.col9{ width:80px; text-align:center; padding:0 5px;}
#pel_tin_luu table tr td.col4 span{ display:block;}
#pel_tin_luu table tr td.col10{ width:100px; text-align:center;}
#pel_tin_luu table tr td.col10 div{padding-top:3px;}
#pel_tin_luu table tr td.col10 div span{ padding:0 5px;}
#pel_tin_luu table tr td.col10 div a{color:#5fa415;}
#pel_tin_luu table tr td a:hover{ text-decoration:underline;}

#pel_tin_ung_tuyen table{ width:100%; margin-top:10px; margin-bottom:20px;}
#pel_tin_ung_tuyen table tr.t{background-color:#4d817c;width:100%; font-weight:bold; color:White;}
#pel_tin_ung_tuyen table tr td{ padding:10px 0; line-height:130%; vertical-align:middle;}
#pel_tin_ung_tuyen table tr td.col1 div{ width:50px; text-align:center;}
#pel_tin_ung_tuyen table tr td.col2{ width:210px; padding-right:10px;}
#pel_tin_ung_tuyen table tr td.col3{ width:190px; padding-right:10px; text-align:center;}
#pel_tin_ung_tuyen table tr td.col4,
#pel_tin_ung_tuyen table tr td.col5,
#pel_tin_ung_tuyen table tr td.col6,
#pel_tin_ung_tuyen table tr td.col7,
#pel_tin_ung_tuyen table tr td.col8,
#pel_tin_ung_tuyen table tr td.col9{ width:80px; text-align:center; padding:0 5px;}
#pel_tin_ung_tuyen table tr td.col4 span{ display:block;}
#pel_tin_ung_tuyen table tr td.col10{ width:100px; text-align:center;}
#pel_tin_ung_tuyen table tr td.col10 div{padding-top:3px;}
#pel_tin_ung_tuyen table tr td.col10 div span{ padding:0 5px;}
#pel_tin_ung_tuyen table tr td.col10 div a{color:#5fa415;}
#pel_tin_ung_tuyen table tr td a:hover{ text-decoration:underline;}
/*=========================Pages ung tuyen========================*/
div.nhs{ background:#fff url(/images/bg/BGGiayHT.gif); width:750px; float:left; padding-right:20px;}
div.nhs div.inf{ padding:10px 0; line-height:150%;}
div.nhs div.inf span{ color:Red; font-style:italic; font-weight:bold; text-decoration:underline;}
div.nhs div.rggt{ text-transform:uppercase;}
div.nhs div.inf a{ font-weight:bold; text-transform:uppercase; color:#5fa415;}
div.nhs div.inf a:hover{ text-decoration:underline;}

div.hd_nhs{ width:218px; padding:10px 5px; border:1px #dfdfdf solid; background:#f5f5f5; float:left;}
div.hd_nhs h2.t{ border-bottom:1px #ccc solid; padding:5px 0; font-weight:bold; font-size:14px;}
div.hd_nhs div.ct{ line-height:200%; padding:10px 5px;}

div.box_nop_don{ padding:20px;}
div.box_nop_don strong{ color:Red; text-transform:uppercase; font-size:16px;}

table.list{ border:1px #ccc solid; width:100%;}
table.list tr.t{ background:#aae071; color:White; font-weight:bold; color:#333;}
table.list tr td{ padding:5px 0;}
table.list tr td.col{ padding:5px 5px; width:210px; border-left:1px #ccc solid;}
table.list tr td div{ width:50px; text-align:center;}
table.list tr.d{ border-top:1px #ccc solid;}

div.box_nop_don div.ttl{ width:170px; text-align:right; padding:10px 10px 5px 0; float:left; font-weight:bold; color:#333;}
div.box_nop_don div.ttr{ float:left; padding:10px 0px 5px 0;}
div.box_nop_don div.ttr .bt{ background-color:#4a7618; border:none; padding:5px 10px; font-weight:bold; cursor:pointer; color:White;}

div.other_t{ background:#4d7b19; font-size:15px; color:White; height:30px; line-height:30px; padding:0 10px;}

.float-ck {
	position: fixed;border-top-right-radius:4px;border-top-left-radius:4px;
	bottom: 0; background:none;
	z-index: 9999;
}
* html .float-ck /* IE6 position fixed Bottom */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.hide_float a {
	float:right; padding-top:3px;
	color: #FFF;
}
div.yahoo{ background-color:White; border:5px #0875d4 solid; border-bottom:none;border-top-right-radius:4px;border-top-left-radius:4px; padding:10px;}
div.ym{ padding:5px 0 0 10px;}
div.ym img{ vertical-align:middle; padding-right:5px; width:64px;}

ul.n_other li{ background:url(/images/icon/td1.gif) no-repeat 15px 14px; padding:10px 0 0 25px;}

div.box_send_mail{ width:600px; margin:auto; clear:both; padding:50px 0;}
div.box_send_mail h1{ font-size:32px; font-weight:normal; color:#666; padding-bottom:20px;}
div.box_send_mail div.l{ width:150px; text-align:right; padding-right:15px; float:left; font-weight:bold; padding:15px 15px 0px 0;}
div.box_send_mail div.l b{ display:block; padding-top:10px; color:#666;}
div.box_send_mail div.r{ float:left; padding:15px 0 0 0;}
div.box_send_mail .txt{ padding:6px 5px; border:#dddddd 1px solid; width:400px;}
div.box_send_mail div.btn{padding:30px 0 0 165px;}
div.box_send_mail div.btn .btn{ width:auto; height:auto;}
div.box_send_mail div.dem{ padding:15px 0px 15px 165px; font-size:18px; color:#333;}
div.box_send_mail div.dem span{ font-size:12px; font-weight:normal; color:#888;}
div.box_send_mail label{ position:relative; top:2px; font-weight:bold; padding-left:2px; color:#666;}

.bor1{border:1px red solid; padding:2px;}
.red1{ color:Red;}

ul.box_m_news{background-color:#4e8580; overflow:hidden; border-bottom:1px #5fa415 normal; clear:both; padding-bottom:10px;}
ul.box_m_news li{ float:left; padding:10px 0px 0px 5px;}
ul.box_m_news li a{font-weight:bold; border:1px #fff solid; padding:5px; color:#fff; display:block;}
ul.box_m_news li a.ac,ul.box_m_news li a:hover{ color:#dad7d7; border:1px #eee solid;}

ul.box_info{background-color:#aae071; overflow:hidden; border-bottom:1px #5fa415 normal; clear:both; padding-bottom:10px;}
ul.box_info li{ float:left; padding:10px 0px 0px 5px;}
ul.box_info li a{font-weight:bold; border:1px #fff solid; padding:5px; color:#333; display:block;}
ul.box_info li a.ac,ul.box_info li a:hover{ color:#d72120; border:1px #eee solid;}

.W680{ width:678px; padding-right:8px;}
div.grhh{ height:auto;}
div.grhh div.bg{ padding:10px 0;}
div.grhh div.t{ padding-left:12px;}
div.grhh ul.list li{ width:210px; float:left; height:255px; overflow:hidden; padding:0px 0 0 10px;}
div.grhh ul.list li img{ height:150px; width:210px;}
div.grhh ul.list li div{ line-height:150%; color:#444;}
div.grhh ul.list li strong{ padding:5px 0; display:block;}
div.grhh div.bg a{ color:#60a516;}
div.grhh div.bg a:hover{ color:#d72022;}
div.grhh div.bg li a{color:#333;}

ul.newsr1{ padding:0 10px 10px 10px;}
ul.newsr1 li{ height:100px; overflow:hidden; border-bottom:1px #000 dashed; line-height:150%; padding:10px 0;}
ul.newsr1 li:last-child{ border-bottom:none;}
ul.newsr1 div.r{ float:right; width:210px;}
ul.newsr1 a.img{ width:70px; float:left; overflow:hidden; padding-right:10px;}
ul.newsr1 a.img img{ width:70px;}
div.avn{ padding-top:10px;}
div.avn img{ width:314px; height:auto;}

a.titvideo{background:url(/images/icon/h2.gif) no-repeat 0px 10px;width:215px; color:#333; display:block; padding:5px 5px 5px 13px; border-bottom:1px #e1e1e1 solid; font-size:12px;}
a.titvideo:hover{ color:#d72022;}

div.adtop{ padding:0 0 10px 0;}
div.adtop img{ width:1000px; height:auto;}
div.adhn{ padding:5px 0 0px 0;}
div.adhn img{ width:1000px; height:auto;}
div.adu{ padding:0 0 10px 0;}
div.adu img{ width:735px; height:auto;}

ul.box_ntd li.l{ float:left; width:150px; margin-bottom:15px;}
ul.box_ntd li.l img{ max-width:130px; height:auto;}
ul.box_ntd li.r{ float:left; margin-bottom:15px;}
ul.box_ntd li.r h1{ font-weight:normal; font-size:18px; color:#333;}
ul.box_ntd li.r div{ color:#555; margin-top:10px;}
.cred{color:Red;}
.cblack{ color:Black;}
.fs11{ font-size:11px;}
.ali_c { text-align:center;}
/*-------------huong nghiep page*/
.W686 {
    width: 686px;
}
.FloatLeft {
    float: left;
}
.W309 {
    width: 314px;
    margin-left: 0px;
}
.W309 ul.list {
    background: #4e8580;
    margin-top: 5px;
    padding: 5px 5px 10px 5px;
    height: 275px;
    overflow: hidden;
}
.W309 ul.list img {
    width: 120px;
    height: 100px;
    float: left;
    /* padding-right: 10px; */
}
.W309 ul.list strong.t {
    padding-bottom: 5px;
    display: block;
}
.W309 ul.list strong a {
    color: #fff;
}
.Inner5 {
    padding: 5px 0;
}
#featured {
    width: 676px;
    height: 316px;
    padding-right: 0;
    position: relative;
    display: block;
    z-index: 99;
    overflow: hidden;
}
#featured ul.ui-tabs-nav {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80px;
    background: none;
    z-index: 0;
}
#featured ul.ui-tabs-nav li {
    padding: 0;
    font-size: 12px;
    color: #666;
}
div.grhh {
    height: auto;
}
div.boxM {
    height: 210px;
    border: 3px #ddd solid;
    margin-bottom: 15px;
    overflow: hidden;
}
div.boxM div.bg div.t {
    text-transform: uppercase;
    color: #76bc25;
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 21px;
    padding-top: 5px;
}
div.grhh div.t {
    padding-left: 12px;
}